<h3><%= t(:about_h3) %></h3>
<p><%= t(:about_p1) %></p>
<h4><%= t(:about_h4_1) %></h4>
<p><%= t(:about_p2) %></p>
 
<h4><%= t(:about_h4_2) %></h4>
<p><%= t(:about_p3) %></p>
 
<h4><%= t(:about_h4_3) %></h4>
<p><%= t(:about_p4) %></p>