<div class="wrap">
<h2 class="panel-title"><%= t(:footer_h2) %></h2>
 
<p><%= t(:footer_p1) %></p>
<p><%= t(:footer_p2) %></p>
<p><%= t(:footer_p3) %></p>

<p><%= t(:footer_p4) %></p>
<p><%= t(:footer_p5) %></p>

<p><%= t(:footer_p6) %></p>
 
<div class="footer-contact">
    <%= image_tag('logo.png', :alt => 'Code for Kanazawa', :class => 'logo') %>
    <address>
        <h5>Code for Kanazawa</h5>
        <p><%= link_to('http://www.codeforkanazawa.org/', 'http://www.codeforkanazawa.org/') %></p>
        <p>Mail: <%= t(:address) %></p><a href="mailto:cfk-office@codeforkanazawa.org">cfk-office@codeforkanazawa.org</a>
    </address>
</div>
</div>