<h2><%= t(:footer_h2) %></h2>
 
<p><%= t(:footer_p1) %></p>
<p><%= t(:footer_p2) %></p>
<p><%= t(:footer_p3) %></p>
 
<p><%= t(:footer_p4) %></p>
<p><%= t(:footer_p5) %></p>
 
<p><%= t(:footer_p6) %></p>
 
<h3>Code for Kanazawa</h3>
<p>http://www.codeforkanazawa.org/</p>
<p>〒920-0856 金沢市昭和町12-6</p><address>cfk-office@codeforkanazawa.org</address>