
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h1 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          5374.jp
        </a>
      </h1>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <%= partial "about" %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h2 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <%= t(:new_h2) %>
        </a>
      </h2>
      <p><%= t(:new_p1) %></p>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <%= partial "new" %>
      </div>
    </div>
  </div>
  <div class="spread">
    <%= partial "spread" %>
  </div>
</div>
<a href="https://github.com/codeforkanazawa-org/5374" target="_blank" title="github">
  <div class="use">
    <h2><%= t(:use_h2) %></h2>
    <p><%= t(:use_p1) %></p>
  </div>
</a>
<footer>
  <%= partial "footer" %>
</footer>
